<footer class="footer black-wrapper">
    
    <!-- .container -->

    <div class="sub-footer">
        <div class="container">
            <p class="pull-left"> 2017 © Blog Projesi</p>
            <ul class="footer-menu pull-right">
                <li><a href="/Home/Index">Anasayfa</a></li>
                <li><a href="/Content/#">Hakkimizda</a></li>             
                <li><a href="/Home/Index">Blog</a></li>
                <li><a href="/Content/#">İletisim</a></li>
            </ul>
        </div>
    </div>
</footer>
