<div class="pagination">
    <ul>
        <li><a href="/Content/#" class="btn">Prev</a></li>
        <li class="active"><a href="/Content/#" class="btn"><span>1</span></a></li>
        <li><a href="/Content/#" class="btn"><span>2</span></a></li>
        <li><a href="/Content/#" class="btn"><span>3</span></a></li>
        <li><a href="/Content/#" class="btn">Next</a></li>
    </ul>
</div>
