
@{
    ViewBag.Title = "Kategori Ekleme Sayfası";
}

@using BlogOdev.Models.data
@model Kategori

<form action="/Kategori/KategoriEkle" method="post" >

    <table>
        <tr>
            <td>Kategori Adı:</td>
            <td><input type="text" name="KategoriAdi" required="" value="" /></td>
        </tr>


        <tr>
            <td>Açıklama:</td>
            @*<td><input type="text" name="Detay" value="" /></td>*@
            <td><textarea name="Aciklama" required=""></textarea></td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" name="submit" value="Kategori Ekle" />
            </td>
        </tr>

    </table>


</form>
